.content {
  padding-top: 80px;
}

.wrapper {
  overflow: hidden;
}

.sidenav-menu {
  color: white;
}

mat-drawer-content {
  background-color: white;
}

mat-nav-list button {
  transition: all 0.5s;
  z-index: 1;
}

mat-nav-list button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #4fc3f7;
  z-index: -1;
  transition: all 0.5s;
}

mat-nav-list button:hover::before {
  width: 100%;
}

mat-nav-list button:hover {
  color: white;
}

mat-nav-list button:active:before {
  background: #b9b9b9;
}

.sidenav-sticki{
  position: fixed;
  top: 0;
}