<div fxLayout="column" fxLayoutAlign="center center">
  <div
    class="content"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >
    <div
      [ngStyle.xs]="{ width: 90 + '%' }"
      [ngStyle.sm]="{ width: 100 + '%' }"
      [ngStyle.md]="{ width: 100 + '%' }"
      [ngStyle.lg]="{ width: 100 + '%' }"
      [ngStyle.xl]="{ width: 100 + '%' }"
      fxLayout="column"
      fxLayoutAlign="center start"
      fxLayoutGap="30px"
    >
      <h1 class="animated fadeIn">
        Bienvenido a Hi School Web! aplicación desarrollada con el fin de
        brindar actividades interactivas para los niños.
      </h1>
      <p class="text animated fadeIn">
        Amplio programa analitico con diferentes actividades de 1.ᵉʳ grado a 6.º
        grado, empieza ahora y consigue divertidas recompensas
      </p>
      <button
        class="effect animated fadeIn btn-style"
        mat-flat-button
        color="primary"
        [routerLink]="['/home/cursos']"
      >
        Explorar los cursos
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
    <div
      [ngStyle.sm]="{ width: 100 + '%' }"
      [ngStyle.md]="{ width: 100 + '%' }"
      [ngStyle.lg]="{ width: 100 + '%' }"
      [ngStyle.xl]="{ width: 100 + '%' }"
      fxHide.lt-sm
    >
      <img
        class="img-home effect"
        width="100%"
        src="assets/img/img1.jpg"
        alt=""
      />
    </div>
  </div>
  <div><h1>Algunos de nuestros cursos</h1></div>

  <div class="content">
    <app-tarjeta-curso [items]="cursos"></app-tarjeta-curso>
  </div>

  <div class="content">
    <app-footer></app-footer>
  </div>
</div>
