<div class="content" fxLayoutAlign="center center" fxLayout="column">
  <h1>Vision</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi enim
    officiis quisquam labore temporibus illum minus adipisci cupiditate! Est
    necessitatibus nostrum ipsa aperiam repellendus? Nostrum aspernatur ea
    laudantium tempora sapiente optio eum provident ducimus. Ut suscipit ipsa
    qui veritatis ea perspiciatis earum totam harum dolores, modi fugiat
    molestias ipsam esse recusandae quas nesciunt, aut molestiae expedita
    debitis ipsum. Iste, harum! Rerum dignissimos eum earum corporis unde
    mollitia adipisci ratione quas fuga. Fugit quasi similique laudantium quis?
    Neque ducimus eveniet temporibus voluptatum illum, officia nulla odio! Nihil
    recusandae, in error voluptatem distinctio dicta? Sint dolores vel
    exercitationem officia provident rem. Vitae tenetur aut nam esse, laudantium
    optio sunt quos minus aperiam inventore veniam quidem unde laborum est ipsa
    nemo consectetur ducimus officiis dolorem. Quos quaerat maiores et totam
    iure in, deserunt sit eaque blanditiis quis atque ex magnam vel tenetur
    error quo distinctio possimus fugit praesentium! Doloremque modi accusantium
    minima voluptatem reiciendis, repellendus tempore maiores voluptas neque
    porro odio molestias quo totam id recusandae labore eveniet fugit, quisquam
    illo voluptate enim est. Corporis totam error optio enim possimus adipisci
    eius in voluptatibus dicta eaque, placeat deleniti modi, sequi
    necessitatibus tempore? Dicta ipsum fuga cumque, praesentium harum quod eum
    at voluptatibus voluptatem.
  </p>

  <h1>Quienes somos</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi rem eaque
    nesciunt assumenda quas necessitatibus accusantium quis veritatis blanditiis
    optio atque, quia harum! Rem molestias officia voluptate nisi recusandae
    amet animi sit veniam ipsum sed asperiores pariatur, delectus, ex
    consequatur incidunt, non nulla. Incidunt, assumenda! Beatae possimus dicta
    non et ut, ipsam adipisci quaerat magni tempora illo. Nulla dolorum
    incidunt, debitis praesentium ad sequi consequuntur inventore vel commodi
    molestias. Soluta autem officia maxime magni sequi vero fugit consectetur
    tenetur pariatur? Quibusdam quaerat corporis eius, aliquid, repudiandae
    autem culpa laudantium repellat nam maiores laboriosam explicabo. Autem odit
    esse velit! Nulla maxime repellat velit facere quibusdam repellendus animi
    voluptates. Hic saepe necessitatibus rerum laudantium vel minus deserunt
    excepturi quidem mollitia alias obcaecati corporis tenetur molestiae
    laboriosam magni natus, numquam atque architecto illum ipsam accusamus!
    Laboriosam nisi ad accusamus consequuntur minus quae laborum perspiciatis
    distinctio, maxime ex saepe deleniti quos blanditiis quidem sit excepturi
    debitis perferendis veniam eum error. Magni vel ea possimus saepe molestiae
    exercitationem illo doloribus quis iure hic ullam, facere aliquid nulla
    dolorum cupiditate sint laudantium repellendus molestias fuga obcaecati.
    Blanditiis vitae aut aspernatur, maxime ipsa quis dolorem delectus, qui
    distinctio maiores dolores nisi iste tempora deserunt minus necessitatibus
    voluptatibus molestiae voluptate repudiandae quibusdam consequuntur eaque,
    ab quisquam quam! Est id reiciendis voluptate assumenda. Incidunt sed
    impedit cumque. Id, cumque. Facere mollitia at quia asperiores consequatur
    deserunt, quis, necessitatibus cupiditate et illo magni reiciendis earum
    velit itaque odit blanditiis vitae dolorem magnam fugiat soluta quisquam
    iste dolorum laudantium pariatur? Sit, iusto iure laboriosam similique alias
    nemo ratione quas, voluptates odit a rerum provident minima natus! Suscipit
    natus voluptas ex sequi ullam accusamus reprehenderit et placeat, similique
    fuga libero expedita quae est dolorum. Molestiae dolore eos exercitationem
    aut quo repellendus dolor repudiandae nobis ducimus totam neque sit fugit
    dolores distinctio accusamus error possimus suscipit, ullam aliquid?
    Distinctio amet, repellendus error nihil omnis itaque, accusamus facilis
    doloribus animi neque ut velit veritatis ipsam cumque id quam quos ad
    repudiandae molestias quibusdam rem! Praesentium quae iure aliquam fuga
    veniam illo architecto hic, facere quam modi aspernatur itaque expedita
    quasi ullam consequuntur dolor illum necessitatibus cupiditate tempore. Unde
    perspiciatis voluptate voluptas cum assumenda sit labore, consequatur dolor
    porro deserunt necessitatibus illo architecto a at excepturi ducimus natus
    minus ab amet voluptatum beatae dolore? Culpa, sit assumenda quae similique
    harum aliquam exercitationem aperiam suscipit ab, veritatis tenetur
    voluptatem dolor. Eum fuga voluptatem aspernatur quas amet.
  </p>
</div>
