<div
  [ngStyle.xs]="{ width: 350 + 'px' }"
  [ngStyle.sm]="{ width: 400 + 'px' }"
  [ngStyle.md]="{ width: 450 + 'px' }"
  [ngStyle.lg]="{ width: 500 + 'px' }"
  [ngStyle.xl]="{ width: 550 + 'px' }"
  fxLayout
  fxLayout="column"
  fxLayoutAlign="center center"
  class="height animated fadeIn"
>
  <h1>Registrarse</h1>
  <p class="text">
    Hola👋, si no tienes cuenta create una, es <strong>Gratis</strong>
  </p>

  <div
    [ngStyle.xs]="{ width: 100 + '%' }"
    [ngStyle.sm]="{ width: 100 + '%' }"
    [ngStyle.md]="{ width: 100 + '%' }"
    [ngStyle.lg]="{ width: 100 + '%' }"
    [ngStyle.xl]="{ width: 100 + '%' }"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="6%"
  >
    <mat-form-field fxFlex="47" appearance="outline">
      <mat-label>Nombre</mat-label>
      <input
        [(ngModel)]="usuario.nombre"
        name="nombre"
        required
        matInput
        type="text"
        placeholder="Nombre"
        [formControl]="nombre"
      />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error *ngIf="email.invalid">{{ getErrorMessageNombre() }}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="47" appearance="outline">
      <mat-label>Apellido</mat-label>
      <input
        [(ngModel)]="usuario.apellido"
        name="apellido"
        type="text"
        required
        matInput
        placeholder="Apellido"
        [formControl]="apellido"
      />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error *ngIf="email.invalid">{{
        getErrorMessageApellido()
      }}</mat-error>
    </mat-form-field>
  </div>
  <!-- <mat-form-field class="input-wid" hintLabel="Maximo 15 caracteres" appearance="outline">
    <mat-label>nombre de usuario</mat-label>
    <input matInput #input maxlength="15" placeholder="Usuario" />
    <mat-hint align="end">{{ input.value?.length || 0 }}/15</mat-hint>
  </mat-form-field> -->

  <mat-form-field class="input-wid" appearance="outline">
    <mat-label>Ingresa tu correo</mat-label>
    <input
      [(ngModel)]="usuario.correo"
      name="correo"
      type="email"
      matInput
      placeholder="alguien@ejemplo.com"
      [formControl]="email"
      required
    />
    <mat-icon matSuffix>alternate_email</mat-icon>
    <mat-error *ngIf="email.invalid">{{ getErrorMessageEmail() }}</mat-error>
  </mat-form-field>

  <mat-form-field class="input-wid" appearance="outline">
    <mat-label>Ingresa tu contraseña</mat-label>
    <input
      [(ngModel)]="usuario.contrasena"
      name="contrasena"
      [formControl]="password"
      [type]="hide ? 'password' : 'text'"
      #inputPass
      minlength="8"
      maxlength="40"
      matInput
      placeholder="Contraseña"
      required
    />
    <mat-error *ngIf="password.invalid">{{ getErrorMessagePass() }}</mat-error>
    <mat-hint align="end">{{ inputPass.value?.length || 0 }}/40</mat-hint>
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="input-wid" appearance="outline">
    <mat-label>Fecha de nacimiento</mat-label>
    <input
      [(ngModel)]="usuario.fechaNacimiento"
      name="fecha_nacimiento"
      [formControl]="facheNacimiento"
      required
      placeholder="01/07/2000"
      matInput
      [matDatepicker]="picker"
    />
    <mat-error *ngIf="facheNacimiento.invalid">{{
      getErrorMessageFecha()
    }}</mat-error>
    <mat-hint align="end">MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-checkbox
    class="input-wid"
    color="primary"
    [(ngModel)]="recordarme"
    name="recordarme"
    >Recordar usuario</mat-checkbox
  >

  <button
    class="btn-login effect"
    (click)="registerUsuario()"
    mat-flat-button
    color="primary"
  >
    Registrarse
  </button>
  <div>
    <a class="effect" mat-button color="primary" [routerLink]="['/home']"
      >Regresar</a
    >
  </div>
</div>
