<mat-toolbar fxLayout="row" fxLayoutGap="15px" class="sticky">
  <button class="effect" [routerLink]="['']" mat-button>
    <mat-icon class="ico" color="primary">school</mat-icon>
    <span class="logo">Hi <span class="title">School</span> Web!</span>
  </button>
  <div fxFlex="2 1 auto" fxLayoutAlign="center center"></div>
  <button
    fxLayoutAlign="center center"
    fxHide
    fxShow.gt-sm
    class="effect"
    [routerLink]="['inicio']"
    mat-button
  >
    Inicio
  </button>
  <button
    fxLayoutAlign="center center"
    fxHide
    fxShow.gt-sm
    class="effect"
    [routerLink]="['acerca']"
    mat-button
  >
    Acerca
  </button>
  <button
    fxLayoutAlign="center center"
    fxHide
    fxShow.gt-sm
    class="effect"
    [routerLink]="['cursos']"
    mat-button
  >
    Cursos
  </button>
  <button
    fxLayoutAlign="center center"
    fxHide
    fxShow.gt-sm
    class="effect"
    [routerLink]="['ass']"
    mat-button
  >
    instructores
  </button>
  <button matTooltip="Buscar" mat-icon-button>
    <mat-icon class="effect" color="primary" aria-hidden="false"
      >search</mat-icon
    >
  </button>
  <button
    fxLayoutAlign="center center"
    fxHide
    fxShow.gt-xs
    [routerLink]="['/login']"
    mat-flat-button
    color="primary"
    class="effect btn-style"
  >
    Entrar/registrarse
  </button>

  <button
    matTooltip="Menu"
    (click)="drawer?.toggle()"
    fxLayoutAlign="center center"
    fxShow
    fxHide.gt-sm
    mat-icon-button
  >
    <mat-icon class="effect" color="primary" aria-hidden="false">menu</mat-icon>
  </button>
</mat-toolbar>
